




.image-header{
    border: 1px solid silver;
   
}

.text-image{
    padding:10px;
    line-height: 1.3;
}

.btn{
    background: #333;
    padding:10px;
    border:none;
    margin: 10px 0;
    cursor: pointer;
}

.btn:hover{
    background: lawngreen;
}