.products{
  padding:200px 0 0;
}

@media(max-width:500px){
  .products{
    padding:130px 0 0;
  }
}


.products-container{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:50px;
    margin-top: 70px;
    margin-bottom: 100px;
}

.display-products{
  border:1px solid silver
}

.desc, .ratings-product, .cartButton{
  padding: 10px;
}

.product-image{
  width: 100%;
}

.product-title{
  text-align: center;
  margin-top: 30px;
}

.addButton{
  background: #999;
  color:#fff;
  padding: 10px;
  border: none;
  width: 100%;
}

.addButton:hover{
  background: #f678;
}



.ratings-product{
  color:orange
}


@media(max-width:1000px){
  .products-container{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    grid-gap:50px;
  }

}


@media(max-width:800px){
  .products-container{
    display:grid;
    grid-template-columns:1fr;
    grid-gap:50px;
  }

}